*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
   
}
.main{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 130px;
    grid-row-gap: 60px;
    position: relative;
}
.box1{
    color: black;
    background-color: white;
    height: 150px;
    width: 170px;
    text-align: center;
}
.contact{
    background-color: rgb(35, 162, 162);
    height: 500px;
    width: 600px;
}
h5{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
#p1{
    font-size: 13px;
 
}
h1{
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 40px;
}
input{
    height: 30px;
    width: 400px;
    margin-bottom: 30px;
    margin-left: 120px;
    border: none;
    padding-left: 10px;
}
textarea{
    margin-left: 120px;
    height: 100px;
    width: 400px;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
}
button{
    margin-left: 260px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    height: 40px;
    width: 120px;
    background-color: rgb(35, 162, 162);
    border: 2px solid white;
}
.fa{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(35, 162, 162);
}
#home{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 30px;
    color: white;
    border: 2px solid white;
    position: fixed;
    margin-left: 1350px;
    margin-top: 400px;
    
}

@media (max-width: 320px) {
    .main {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    .box {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        margin-bottom: 20px;
    }

    .box1 {
        width: 90%;
        margin: auto;
    }

    .contact {
        width: 95%;
        height: auto;
        padding-bottom: 30px;
    }

    input, textarea {
        width: 85%;
        margin-left: 20px;
    }

    button {
        margin-left: 90px;
    }

    #home {
        margin-left: 250px;
        margin-top: 500px;
    }
}

@media (max-width: 400px) {
    .box {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }

    .box1 {
        width: 90%;
        margin: auto;
    }

    .contact {
        width: 90%;
        height: auto;
    }

    input, textarea {
        width: 85%;
        margin-left: 25px;
    }

    button {
        margin-left: 110px;
    }

    #home {
        margin-left: 300px;
    }
}

@media (max-width: 430px) {
    .box {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }

    .contact {
        width: 90%;
    }

    input, textarea {
        width: 85%;
        margin-left: 30px;
    }

    button {
        margin-left: 130px;
    }
}


@media (max-width: 768px) {
    .main {
        flex-direction: column;
        height: auto;
    }

    .box {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        margin-bottom: 30px;
    }

    .box1 {
        width: 160px;
    }

    .contact {
        width: 90%;
    }

    input, textarea {
        width: 75%;
        margin-left: 90px;
    }

    button {
        margin-left: 250px;
    }

    #home {
        margin-left: 650px;
    }
}


@media (max-width: 1024px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
    }

    .contact {
        width: 90%;
        max-width: 550px;
    }

    input, textarea {
        width: 75%;
        margin-left: 12.5%;
    }

    button {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #home {
        margin-left: 900px;
    }
}

@media (min-width: 1440px) {
    .contact {
        width: 650px;
    }

    input, textarea {
        width: 420px;
    }

    #home {
        margin-left: 1350px;
    }
}
