*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightcoral;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.card{
    background-color: white;
    height: 500px;
    width: 800px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 8px 20px rgba(0,0,0,0.25) ;
}
.sign_in{
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 0px 50px 50px 0px;
}
.new_account{
    background-color: rgb(35, 162, 162);
     height: 500px;
    width: 400px;
    border-radius: 50px 0px 0px 50px;
}
    
h1{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}
#s1{
    text-align: center;
    font-size: 15px;
    margin: 30px 20px 20px 20px;
}
input{
    border-radius: 50px;
    height: 40px;
    width: 200px;
    margin-left: 100px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: rgb(198, 198, 169);
    border:none;
    color: black;

}
a{
    text-decoration: none;
    color:blue;
}
#s4{
      text-align: center;
}
#sign_btn{
    margin: 40px 30px 20px 150px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    background-color: rgb(35, 162, 162);
    color: white;
    border: none;
}
#s2{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 160px;
    margin-bottom: 20px;
}
#s3{
    color: white;
    text-align: center;
    font-size: 20px;
}
#btn{
    margin-left: 150px;
    margin-top: 30px;
    font-size: 20px;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color:rgb(35, 162, 162) ;
    border:  2px solid white;
    color: white;

}
#home{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 2px solid white;
    position: fixed;
    margin-left: 140px;
    margin-top: 200px;
    
}


@media (max-width: 1024px) {
    .card {
        width: 700px;
    }

    #home {
        margin-left: 100px;
    }
}

@media (max-width: 768px) {
    body {
        height: auto;
        padding: 40px 0;
    }

    .card {
        flex-direction: column;
        width: 90%;
        max-width: 420px;
        height: auto;
    }

    .sign_in,
    .new_account {
        width: 100%;
        height: auto;
        border-radius: 0;
        padding-bottom: 20px;
    }

    .new_account {
        border-radius: 30px 30px 0 0;
    }

    .sign_in {
        border-radius: 0 0 30px 30px;
    }

    h1 {
        margin-top: 30px;
        font-size: 32px;
    }

    #s1 {
        margin: 20px 30px;
    }

    input {
        width: 80%;
        margin: 0 auto 18px auto;
        display: block;
    }

    #sign_btn {
        margin: 24px auto 10px auto;
        display: block;
    }

    #s2 {
        margin-top: 30px;
    }

    #btn {
        margin: 20px auto 0 auto;
        display: block;
    }

    #home {
        margin-left: 20px;
        margin-top: 20px;
        position: fixed;
    }
}

@media (max-width: 430px) {
    .card {
        max-width: 360px;
    }

    h1 {
        font-size: 28px;
    }

    #s1 {
        font-size: 14px;
        margin: 16px 20px;
    }

    input {
        width: 85%;
    }

    #sign_btn,
    #btn {
        width: 90px;
        height: 44px;
        font-size: 14px;
    }

    #s2 {
        font-size: 26px;
    }

    #s3 {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .card {
        max-width: 300px;
    }

    h1 {
        font-size: 24px;
    }

    #s1 {
        font-size: 13px;
    }

    input {
        width: 90%;
        font-size: 14px;
    }

    #sign_btn,
    #btn {
        width: 80px;
        height: 40px;
        font-size: 13px;
    }

    #home {
        height: 40px;
        width: 40px;
        font-size: 22px;
        margin-left: 10px;
        margin-top: 10px;
    }
}