*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libertinus Serif Display', serif;
}

body{
    min-height: 100vh;
    
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(18, 21, 174);
}
main{
   margin-top: 75px;
}


.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo h3{
    color: white;
    font-size: 25px;
}

.nav_item a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin: 7px;
    padding: 6px 10px;
}

.nav_item a:hover{
    background-color: yellow;
    color: black;
    border-radius: 10px;
}
.hero{
  background-color: rgb(198, 198, 239);
    height: 300px;
    margin: 10px;
    padding: 20px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
#p1{
    padding-top: 20px;
    padding-left: 70px;
    font-size: 40px;
}
#p2{
    font-size:40px;
    padding-left: 70px;
    padding-bottom: 10px;
}
#hr1{
    background-color: black;
    height: 4px;
    width: 450px;
    margin-left: 80px;
}
#p3{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 70px;
}

.hero-text{
    max-width: 60%;
}

.hero-video iframe{
    width: 320px;
    height: 180px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    margin-right: 30px;
}
#red{
    background-color: red;
    color: white;
    padding: 15px;
    width: 200px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 70px;
}
#black{
    background-color: white;
    color: black;
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    margin-left: 5px;
}
.hero2{
      background-color: rgb(198, 198, 239);
    height: 90px;
    margin: 10px;
    padding: 20px 80px;
    
}
.channel{
    display: flex;
    justify-content: space-between;
}
.line{
    width: 4px;
    background-color: rgb(150, 118, 118);
}
.fa fa-youtube-play{
  margin-top: 15px;
}
#v2 ,#v3,#v4 {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 15px;
}
.cate{
     background-color: rgb(198, 198, 239);
    height: 300px;
    margin: 10px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-column-gap: 150px;
}
.web{
    background-color: beige;
    margin: 40px;
    transform: transfrom 0.35s ease;
}
.web:hover{
    transform: scale(1.1) translateY(-5px);
}
.data{
    background-color: beige;
     margin: 40px;
     transform: transfrom 0.35s ease;
}
.data:hover{
    transform: scale(1.1) translateY(-5px);
}
.project{
   background-color: beige;
    margin: 40px;
    transform: transfrom 0.35s ease;
   
}
.project:hover{
    transform: scale(1.1) translateY(-5px);
}
.dev{
    background-color: darkslateblue;
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
#dev2{
    padding: 30px;
    
    
}
#dev_l1 , #dev_l2{
    font-size: 20px;
    margin-bottom: 5px;
}
.strcut{
    background-color: red;
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
#strcut2{
    padding: 30px;
}
#strcut_l1, #strcut_l2{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.with{
    background-color: rgb(202, 172, 5);
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
#with2{
    padding: 30px;
}
#with_l1,#with_l2{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#arrow{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:darkslateblue;
}
#arrow1{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
#arrow2{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(202, 172, 5);
}
.feature{
    background-color: rgb(198, 198, 239);
    height: 250px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fea_video iframe{
    margin-top: 10px;
    margin-left: 90px;
    width: 320px;
    height: 180px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
.fea_text{
    margin-right: 400px;
    margin-bottom: 20px;
}
#para1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 30px;

}
#para2, #para3{
    font-size: 23px;
}
#fea_btn{
    padding: 15px;
    margin-top: 10px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
    background-color: red;
    color: white;
}
#fea_btn:hover{
    background-color: rgb(158, 6, 6);
}
#red:hover{
     background-color: rgb(158, 6, 6);
}
#black:hover{
    background-color:rgb(125, 102, 72);
}
.sub{
    background-color:rgb(198, 198, 239);
    height: 200px;
    margin: 10px;
 
}
.subscribe{
    background-color:white;
    height: 200px;
    display: flex;
    justify-content: space-around;
    border: 3px solid;
    
}
#r1,#r2,#r3{
     mix-blend-mode: multiply;
     margin-top: 10px;
     height: 150px;
     width: 150px;
}
.copyright{
    background-color: black ;
    bottom: 0px;
    height: 600px;
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-column-gap: 90px;
}
.quick, .resourse, .social{
    margin: 150px 100px 50px 100px;
}

#links{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
#resou{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
#soci{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
#a1,#ql{
    color: antiquewhite;
    margin-left: 30px;
    font-size: 15px;
}
#a1,#ql1{
    margin-bottom: 2px;
    text-decoration: none;
}
#social_1{
    height: 40px;
    margin: 5px;
    
}
#copy{
    background-color: rgb(201, 164, 164);
    width: 1300px;
    border-color: rgb(184, 177, 177);
    height: 2px;
    margin-left: 110px;
    margin-bottom: 100px;
}
#copy_right{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
#a1:hover{
    color: yellow;
}
#home{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 2px solid white;
    position: fixed;
    margin-left: 50px;
    margin-top: 300px;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background: white;
    height: 3px;
    width: 28px;
    margin: 4px 0;
    border-radius: 5px;
}


@media (max-width: 800px) {
    .nav_item {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgb(18, 21, 174);
        text-align: center;
        padding: 20px 0;
    }

    .nav_item a {
        font-size: 18px;
        padding: 15px;
        display: block;
    }

    .nav_item.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .box {
        justify-content: space-between;
        padding: 15px 20px;
    }
}



@media (max-width: 1024px) {
    .box {
        padding: 15px 30px;
    }

    .hero {
        padding: 20px 40px;
    }

    #p1,
    #p2 {
        font-size: 32px;
        padding-left: 40px;
    }

    #p3 {
        font-size: 18px;
        padding-left: 40px;
    }

    #hr1 {
        width: 360px;
        margin-left: 40px;
    }

    .hero-video iframe {
        width: 260px;
        height: 150px;
        margin-right: 10px;
    }

    #red,
    #black {
        width: 210px;
        font-size: 16px;
    }

    .cate {
        grid-template-columns: repeat(2, minmax(260px, 1fr));
        grid-column-gap: 40px;
        height: auto;
    }

    .feature {
        height: auto;
        padding: 20px 40px;
    }

    .fea_text {
        margin-right: 120px;
    }

   
    .copyright {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        height: auto;
        padding-bottom: 40px;
    }

    .quick,
    .resourse,
    .social {
        margin: 80px 40px 30px 40px;
    }

    #copy {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .box {
        justify-content: space-between;
        padding: 15px 20px;
    }

    .nav_item a {
        font-size: 15px;
        margin: 4px;
        padding: 6px 8px;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
    }

    #p1,
    #p2 {
        padding-left: 0;
        font-size: 30px;
    }

    #p3 {
        padding-left: 0;
        font-size: 20px;
    }

    #hr1 {
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }

    .hero-video iframe {
        margin: 20px auto 0 auto;
        width: 100%;
        max-width: 360px;
        height: 200px;
    }

    #red,
    #black {
        width: 100%;
        max-width: 260px;
        margin: 12px auto 0 auto;
        display: block;
    }

    .hero2 {
        height: auto;
        padding: 15px 20px;
    }

    .channel {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        text-align: center;
    }

    .line {
        width: 60%;
        height: 2px;
    }

    .cate {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        height: auto;
    }

    .web,
    .data,
    .project {
        margin: 20px;
    }

    .feature {
        flex-direction: column;
        align-items: center;
    }

    .fea_video iframe {
        margin: 10px auto;
        width: 100%;
        max-width: 360px;
        height: 200px;
    }

    .fea_text {
        margin: 10px 20px 20px 20px;
        text-align: center;
    }

    #para1 {
        font-size: 24px;
    }

    #para2,
    #para3 {
        font-size: 18px;
    }

    .sub {
        height: auto;
    }

    .subscribe {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 20px 0;
        gap: 10px;
    }

    #r1,
    #r2,
    #r3 {
        height: 120px;
        width: 120px;
    }

    .copyright {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        height: auto;
    }

    .quick,
    .resourse,
    .social {
        margin: 40px 30px 10px 30px;
    }

    #copy_right {
        font-size: 16px;
        padding: 0 20px;
    }
}

@media (max-width: 430px) {
    .logo h3 {
        font-size: 20px;
    }

    .nav_item a {
        font-size: 14px;
        padding: 5px;
    }

    .hero {
        padding: 16px 14px;
    }

    #p1,
    #p2 {
        font-size: 26px;
    }

    #p3 {
        font-size: 16px;
    }

    #hr1 {
        width: 220px;
    }

    .hero-video iframe {
        max-width: 320px;
        height: 180px;
    }

    #red,
    #black {
        max-width: 240px;
    }

    .cate {
        margin: 10px 6px;
    }

    .web,
    .data,
    .project {
        margin: 16px 10px;
    }

    .feature {
        margin: 10px 6px;
    }

    #para1 {
        font-size: 22px;
    }

    #para2,
    #para3 {
        font-size: 16px;
    }

    #home {
        margin-left: 10px;
        margin-top: 220px;
    }
}

@media (max-width: 400px) {
    .box {
        padding: 12px 10px;
    }

    .logo h3 {
        font-size: 18px;
    }

    .nav_item a {
        font-size: 13px;
        margin: 2px;
        padding: 4px 5px;
    }

    #p1,
    #p2 {
        font-size: 24px;
    }

    #p3 {
        font-size: 15px;
    }

    #red,
    #black {
        font-size: 14px;
        padding: 12px;
        max-width: 220px;
    }

    .channel h2 {
        font-size: 20px;
    }

    #v2,
    #v3,
    #v4 {
        font-size: 16px;
    }

    #copy_right {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .logo h3 {
        font-size: 16px;
    }

    .nav_item a {
        font-size: 12px;
        padding: 3px 4px;
    }

    .hero {
        padding: 12px 8px;
    }

    #p1,
    #p2 {
        font-size: 20px;
    }

    #p3 {
        font-size: 14px;
    }

    #hr1 {
        width: 180px;
    }

    .hero-video iframe {
        height: 170px;
    }

    #red,
    #black {
        max-width: 200px;
        font-size: 13px;
        padding: 10px;
    }

    .web,
    .data,
    .project {
        margin: 12px 6px;
    }

    #home {
        height: 44px;
        width: 44px;
        font-size: 24px;
        margin-left: 8px;
        margin-top: 200px;
    }

    #copy_right {
        font-size: 12px;
    }
}

@media (min-width: 1440px) {
    .hero {
        padding: 40px 120px;
        height: 360px;
    }

    #p1,
    #p2 {
        font-size: 46px;
    }

    #p3 {
        font-size: 24px;
    }

    #hr1 {
        width: 520px;
    }

    .hero-video iframe {
        width: 380px;
        height: 220px;
    }

    .cate {
        grid-column-gap: 200px;
    }

    #para1 {
        font-size: 34px;
    }

    #para2,
    #para3 {
        font-size: 24px;
    }

    #copy {
        width: 1400px;
        margin-left: calc(50% - 700px);
    }
}